@import './../../../../styles.styl'

#gameboard
    width 100%
    height 100%
    padding 0px
    flex-direction row

    .board-container
        width 100%
        height 100%
        display grid
        place-items center
        margin 0px 50px

        #board
            background transparent


    .cards-container
        flex-grow 1
        width 100%
        padding-left 50px
        height 100%
        display flex
        flex-direction column

        app-info-box
            width 100%
            margin-top 30px
            height 100px
        
        app-card-deck
            width 100%
            height 100%


