@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

font-title = 'Luckiest Guy'
font-text = 'Nunito'

blue = #0769B0
blue_dark = #005695
red = #D01611
red_dark = #A10B07

item-radius = 14px
item-font-size = 30px

html,
body
    width 100%
    height 100%
    padding 0px
    margin 0px
    position relative

*
    box-sizing border-box
    
p,
button,
input,
span,
h1,
h2,
h3,
h4,
h5,
h6
    font-family font-text

h1
    font-size 200px
    font-family font-title
    color red
    letter-spacing 15px
    text-transform uppercase
    -webkit-text-stroke-width 12px
    -webkit-text-stroke-color white
    margin 0px
    padding 0px
    line-height 185px
    text-shadow 1px 1px 20px #333

h2
    font-size 65px
    font-family font-text
    font-weight 900
    color red
    letter-spacing 1px
    -webkit-text-stroke-width 2px
    -webkit-text-stroke-color white
    margin 0px
    padding 0px
    text-shadow 1px 1px 10px #333

h3
    font-size 45px
    color white
    font-weight 800
    margin 0px
    padding 0px
    text-shadow 1px 1px 10px #222

.tremble-sometimes
    animation tremble-sometimes 7s infinite both

@keyframes tremble-sometimes
    0%
        transform rotate(0deg)

    10%
        transform rotate(0deg)

    13%
        transform rotate(3deg)

    18%
        transform rotate(-3deg)

    21%
        transform rotate(3deg)

    27%,
    100%
        transform rotate(0deg)

@media screen and (max-width 1800px)
    h1
        font-size 160px
        line-height 170px

    h2
        font-size 58px

    h3
        font-size 38px